.line {
    height: 1rem;
    width: 100%;
    margin-inline: 5rem;

    background: #280004;
    animation: appears 1s ease-in-out;
}

@keyframes appears {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.horizontal-line {
    height: 75%;
    width: 0.5rem;

    background: #280004;
    animation: appears2 1s ease-in-out;
}
@keyframes appears2 {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
